**/node_modules
AirTrafficSim/airtrafficsim/data/navigation/xplane
AirTrafficSim/airtrafficsim/data/performance/BADA
AirTrafficSim/airtrafficsim/data/result/*
!AirTrafficSim/airtrafficsim/data/result/.gitignore
